<h1>{{title}}</h1>

<ng-template *ngIf="showElement">test</ng-template>
<ng-container *ngFor="let item of items">{{item}}</ng-container>
<hr/>

<ng-template #customHeader>
    <span>custom content</span> 
 </ng-template>

<app-ng-content-poc [customTemplate]="customHeader">
    <p>
      Using ng-content, we can project the code from child to parent and below are the two ways we can do it.
    </p>
    <hr />
    <ul>
      <li>this content is projected from parent to child;to project this content in child component, use ng-content in the
        child component markup</li>
    
    </ul>
    <p>
      This paragraph is actually placed below the ul in parent component.By using ng-content select, this is appended above      the ul element when content projecting, in order to achieve this, the sample will be as follows:
    </p>
    <p>
      <code>
                {{ngContentMarkup}}
             </code>
    </p>
    <hr />
</app-ng-content-poc>

<ipdf-viewer [src]="pdfSrc" 
[render-text]="true"
style="display: block;"
></ipdf-viewer>









